body {
    margin: 0;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif

}

/* @font-face {
    font-family: 'lansburyregular';
    src: url('./fonts/webfontkit-20211021-113438/lansbury-webfont.woff2') format('woff2'),
    url('./fonts/webfontkit-20211021-113438/lansbury-webfont.woff') format('woff'),
    url('./fonts/LANSBURY.ttf');
    font-weight: normal;
    font-style: normal;      
} */

.navbar-dark {
    opacity: 85%;
}

.band-font {
    /* font-family: 'lansburyregular', serif; */
    font-family: 'Cinzel Decorative', cursive;

}

.index-img-div {
    width: 100%;
    margin: 0px;
    height: 600px;
    overflow: hidden;
}

.index-img {
    width: 100vw;
    margin: 0px;
}

.albumlist-name {
    font-size: 2.5rem;
}

.albumlist-name a{
    text-decoration: none;
    color: #ee9f04;
}

.albumlist-name a:hover {
    color: whitesmoke;
}

a .albumlist-img:hover {
    box-shadow: 0px 0px 10px 1.5px rgba(90, 0, 193, 0.7);
}

.apple-music-link-img {
    width: 150px;
}

a .apple-music-link-img:hover {
    box-shadow: 0px 0px 10px 1.5px rgba(90, 0, 193, 0.7);
}
.spotify-music-link-img {
    width: 150px;
}

a .spotify-music-link-img:hover {
    box-shadow: 0px 0px 10px 1.5px rgba(90, 0, 193, 0.7);
}

.section-title {
    color: #ee9f04;
}

.forum-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #5a00c1;
}

.forum-name {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
}

.forum-delete {
    font-size: 0.8rem;
}

.txt-purple {
    color: #5a00c1;
}

.txt-white-smoke {
    color: whitesmoke;
}

.btn-primary {
    background-color: #5a00c1;
    border: 2px solid #4b01a0;
}

.btn-primary:hover {
    background-color: #6e04e6;
    border: 2px solid #4b01a0;
    box-shadow:0px 0px 10px 1.5px rgba(90, 0, 193, 0.7);
}

.sub-text {
    color: whitesmoke;
    font-size: 0.9rem;
}

.sub-text a{
    text-decoration: none;
    color: #ee9f04;
}

.sub-text a:hover {
    color: #5a00c1;
}

.footer-text {
    font-size: 0.7rem;
}

.footer-link {
    text-decoration: none;
    color: whitesmoke;
}

.footer-link:hover {
    color: #5a00c1;
}

.under-construction {
    font-size: 4rem;
    color: #ee9f04;
}

.construction-img {
    width: 50%;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.panel {
    height: 300px;
    background-color: whitesmoke;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 5px;
}

.panel::-webkit-scrollbar {
    width: 8px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.panel::-webkit-scrollbar-thumb {
    background-color: #5a00c1b6;
    border-radius: 4px;
}

.chat-text {
    color: 222222;
    font-style: italic;
    font-size: 0.9rem;
    line-height: 1;
    padding: 3px, 0px;
    margin: 4px;
}

.response-text {
    color: #5a00c1;
}

@media only screen and (max-width: 576px) {
    .albumlist-img {
        display: inline-block;
        margin: 0 auto;
    }
    .under-construction {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .albumlist-img {
        width: 90%;
    }
    .under-construction {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 769px) {
    .albumlist-img {
        width: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .panel {
        height: 475px;
    }
}

@media only screen and (min-height: 900px) {
    .index-img-div {
        height: 800px;
        overflow: hidden;
    }
}
@media only screen and (min-height: 1800px) {
    .index-img-div {
        height: 1400px;
        overflow: hidden;
    }
}