body {
    margin: 0 auto;
    /* width: 100vw;
    
    /* background-color: yellow; */
}

.band-font {
    /* font-family: 'Over the Rainbow', cursive; */
    /* font-family: 'Artifika', serif; */
    font-family: 'lansburyregular', serif;

}

/* .header-img-div {
    
} */

.header-img {
    width: 100vw;
}